html, body, .app-container {
  min-height: 100vh;
}

body {
  background-color: rgb(196, 231, 219);
  font-size: 24px;
}

.app-container {
  display: flex;
  justify-content: left;
}

.plot-container {
  width: 30%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.plot-container > * {
  width: 600px;
  height: 350px;
  margin: 10px;
}
