html, body, .app-container {
  min-height: 100vh;
}

body {
  background: rgb(30,55,56);
  background: linear-gradient(0deg, rgba(30,55,56,1) 0%, rgba(19,36,33,1) 100%);
  font-size: 24px;
}

.app-container {
  display: flex;
  justify-content: left;
}

.plot-container {
  width: 30%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.plot-div > div {
  width: 600px;
  height: 350px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}
